<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery upload</title>
</head>
<body>
    <form action="{% url 'add_user' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>GALLERY UPLOAD</h2>
        <label for="image">upload Image</label>
        <input type="file" name="image" required>
        <button type="submit">submit</button>
    </form>
    

    
</body>
</html>