{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>signup</title>
</head>
<body>
    <div class="main">
        <h2>Signup Form</h2>
        <form action="{% url 'signup' %}" method="post" style="border:1px solid #ccc;margin-left: 250;">
            {% csrf_token %}
            <div class="container">
                <label><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="username"required>
                <label><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
    
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password"required>
    
                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="confirmpassword"reuired>
                
    
                <div class="clearfix">
                
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
        {% if messages %}
            {% for i in messages %}
            <p>{{i}}</p>
            {% endfor %}
            {% endif %}
    </div>
    
</body>
</html>
















